apex==0.9.10dev
av
decord
deepspeed==0.14.2
einops
flash_attn==2.5.2
fvcore==0.1.5.post20221221
gradio==4.31.5
imageio
numpy==1.24.4
opencv_python
pandas==2.0.3
peft
Pillow==10.0.0
PyYAML==6.0.1
scipy
sentencepiece==0.1.99
tensorflow==2.16.1
termcolor==2.4.0
timm
tokenizers==0.19.1
torch==1.13.1+cu117
torchvision==0.14.1+cu117
tqdm
transformers
wandb==0.16.1
matplotlib